<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zara07.insta_salon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Insta_salon">
        <activity
            android:name=".Master"
            android:exported="false" />
        <activity
            android:name=".Uslugi"
            android:exported="false" />
        <activity
            android:name=".Time"
            android:exported="false" />
        <activity
            android:name=".Meet2"
            android:exported="false" />
        <activity
            android:name=".Meet"
            android:exported="false" />
        <activity
            android:name=".MyMeetings"
            android:exported="false" />
        <activity
            android:name=".AccountEdit"
            android:exported="false" />
        <activity
            android:name=".Account"
            android:exported="false" />
        <activity
            android:name=".account"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>